body 
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: url(bg.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.navbar
{
    text-align: center;
    padding-top: 50px;
    width: 100%;
}

.navbar a
{
    text-decoration: none;
    color: #fff;
    font-size: 2.5vw;
    font-family: Tahoma;
    border: 2px solid transparent;
    padding: 0.9%;
    transition: 0.3s;
    background: navy;
    width: 25%;
    margin-right: 2.5%;
    margin-left: 2.5%;
}

.navbar a:hover
{
    background: rgb(1, 1, 179);
    border: 2px solid #fff;
}

.cim
{
    text-align: center;
    color: #fff;
    font-family: monospace;
}

.nev
{
    font-size: 100px;
    
}

.leiras
{
    font-size: 50px;
    
}

#rectangle
{
    
    width: 80%;
    height: 75%;
    background-color: rgba(0, 0, 128, 0.800);
    position: relative; left: 10%; top: 0px;
}